
          Defeat all enemies

  joystick or keyboard, space to start

                  T

        move  F   G   H  move

                  B


button 0 / Z / . * * * * * * * * * *kick

button 1 / X / , * * * * * * * * * punch


Esc* * * * * * * * * * * * * * * * pause

Ctrl-S * * * * * * * * * * * * * * sound

Ctrl-Q * * * * * * * * * * * * * * *quit

  Tips: Move when grabbed, Jump snakes
