    Shoot or trap dangerous animals

 Capture non-dangerous animals by hand



  Shoot                          Move

    E                              I

S       F                      J       L

    D                              K

             M to drop trap



Esc* * * * * * * * * * * * * * * * pause

Ctrl-Q * * * * * * * * * * * * sound off

Ctrl-S * * * * * * * * * * * * *sound on
